/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

/* comuni */
img{
    width: 100%;
}

.container{
    width: 70%;
    margin: auto;
    position: absolute;
    top: 0;
    right: 15%;
    left: 15%;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.cont-jumbo{
    position: relative;
}

.jumbo{
    display: inline-block;
}



.col-1{
    width: 20%;
    float: left;
}

.container-logo{
    vertical-align: middle;
    width: 200px;
    padding: 20px 0;
}

.col-2{
    position: relative;
    width: 60%;
    float: left;
    
}

.lista{
    margin-top: 25px;
}




.col-2 li{
    padding-left: 30px;
    list-style-type: none;
    display: inline-block;
}
.col-2 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.col-2 ul{
    text-align: center;
    vertical-align: middle;
    
}


.col-3{
    width: 20%;
    float: left;
    
}

.btn{
    display: inline-block;
    border-radius: 30px;
}

.btn-accedi{
    background-color: white;
    color: black;
    padding: 4px 15px;
    text-align: center;
}

.contenitore-btn{
    text-align: center;
    margin-top: 25px; 
}

.text{
    
    text-align: center;
    color: white;
    margin: auto;
}

.text h1{
    line-height: 150px;
    font-size: 50px;
    margin: auto;
    
}

.text p{
    line-height: 35px;
    font-size: 20px;
}

.center{
    margin-top: 30px;
    text-align: center;
}

.scarica{
    background-color: white;
    margin-right: 20px;
    padding: 15px 20px;
    font-size: 20px;
    color: black;
}

.browser{
    margin-left: 20px;
    background-color: #23272a;
    color: white;
    padding: 15px 20px;
    font-size: 20px;
}

